.search-bar {
	width: 50px;
	height: 300px;
	color: #555555;
	background-color: #CCCCCC;
}

.tag-space {
	width: 50px;
	height: 300px;
	color: #555555;
	background-color: #CCCCCC;
}

.results-view {

}