.header {
  font-weight: bold;
  color: green;
}

.label-default{
    background-color: red;
}

.eventList {
	position: relative;
}

.my-image{
	position: relative;
	width: inherit;
	height: 350px;
	background-image: url("http://localhost:2000/images/svg_party.png");
}

.filler {
	width: inherit;
	height: 200px;
}

.svg {
	fill: #787f6a;
}