
signIn-modal .col-centered{
float: none;
margin: 0 auto;
}

.signIn-modal .centre {
  display: flex;
  justify-content: center;
}

.signIn-modal .left, .right {
  display: flex;
  justify-content: center;
  padding-left: 22px;
}

.signIn-modal .social-buttons-container{
  padding-top: 10px;
  padding-bottom: 10px

}

.signIn-modal .buttons{
  max-width: 90%;
}

.signIn-modal .hide {
   visibility: hidden;
}

.signIn-modal @media screen and (min-width: 768px) {
    .modal-dialog {
      width: 500px; /* either % (e.g. 60%) or px (400px) */
			display: inline-block;
			text-align: left;
			vertical-align: middle;
    }
    .modal {
  		text-align: center;
        opacity: 1;
		}
    .modal:before {
	    display: inline-block;
	    vertical-align: middle;
	    content: " ";
	    height: 100%;
  }
}
