.event-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.event-page .top-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-size: cover;
}

.event-page .cover-image{
    display: flex;
    order: 2;

    position: absolute;
    top:0;
    z-index: 1;
    width: 100%;
    height: 350px;

    filter: brightness(60%) blur(3px) ;
    transform: scale(1.05);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    overflow: hidden;

}

.top-container .data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    order: 1;
    z-index: 2;
    background-color: transparent;
    width: 80%;
    min-height: 350px;
    height: 100%;
    /*padding-top: 8px;*/


}


.data-container .event-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    width: 100%;


}


.data-container .tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    width: 100%;



}


.data-container .title {
    display: flex;
    justify-content: center;
    align-items: center;
    order:1;
    width:100%;
    color: #FFFFFF;
 }

.data-container .venue {
    order:3;
    width:60%;
}

.title .expand-container{
    width: 100%;
}

.data-container .at {
    display: flex;
    justify-content: center;
    order:2;
    color: #FFFFFF;

    padding-bottom: 1%;
}



.event-page .bottom-container{
    display: flex;
    flex-direction: row;
    /*align-items: center;*/

    margin-top: 20px;
    margin-bottom: 20px;
    height:100%;
    width: 80%;

}

.event-page .event-data-card{
    width: 75%;
    overflow: hidden;
}

.event-page .event-related-card{
    width: 25%;
    margin-left: 2%;
    overflow: hidden;
}



/*---------------------Shared -------------------------------*/

.event-page .box-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color: white;
    border: 0.01px solid;
    border-color: rgba(128, 117, 125, 0.4);
}

.box-card .one{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 6px;
    height:100%;

}

.box-card .one .data{
    display: flex;
    margin-left: 8px;
    /*border: dashed;*/

}

.test{
    display: flex;
    height: 100%;
    flex-grow: 1;
    align-self:stretch;
}

.one .icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink:0;
    /* Stretches div to full size*/
    align-self:stretch;


}

.one .icon .svg{
    display: flex;
    align-items: center;
    max-width: 100%;
    padding:5px;
    height: 25px;
    width: 25px;
}

.box-card .divide{
    display: flex;
    width: 100%;
    border-top: 1px solid #dadada;
}
