.event-list-container {
    /*display: flex;*/
    margin:2%;
    /*flex-direction:column;*/
    /*justify-content: center;*/
}

.event-container {
    /*border: 1px black solid;*/
    overflow: hidden;
}

.forward-backward {
    float: left;
    position: relative;
}

.nav-image-back {
    width:25px;
    height:25px;
    right: 15px; 
    top: 12px;
    z-index: 5;
    position: absolute;
    pointer-events:none;
}

.nav-image-forward {
    width:25px;
    height:25px;
    right: 10px; 
    top: 12px;
    z-index: 5;
    position: absolute;
    pointer-events:none;
}

.wrapper {
	transform: translate3d(0, 0, 0);
	transition: transform .5s ease-in-out;
}

.block {
	width: 50px;
	height: 50px;
	float: left;
}

.tab {
	height: 1px;
	width: 22px;
    border:none;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
}

.line {
    border: 1px black solid;
    height: 0px;
    width: 100%;
}

.tabs {
    display: inline-block;
    float: left;
    display: inline-block;
    margin-top: 20px;

}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px;
    border: 2px black solid;
    z-index: 4;
}

.line {
    float: left;
    height: 3px;
    width: 50px;

    background-color: #000000;
}

.navigation {
    height: 60px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    float: right;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

.lit {
	background-color: #000000;
}

.event {
	float: left;
}

#navLinks {
    text-align: center;
    width: 550px;
}
#navLinks ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}
#navLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;
    border-radius: 50%;
    border: black 5px solid;
}
#navLinks ul li:hover {
    background-color: #FFFF00;
}
#navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}
#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

#navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}
#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.list-icon {
    float: left;
    height: 50px;
    width: 50px;
}

.list-title {
    float: left;
    font-size: 16px;
}