
.results-view {
    display: flex;
    width: 100%;
    background-color:gainsboro;
    justify-content: center;
}

.results-view .container{
    justify-content: center;
    width: 80%;
    padding-top: 5%;
    padding-bottom: 5%;
}