.event {
	position: relative;
}

.event .title {
	pointer-events:none;
	top: 0;
	padding-left: 15px;
	padding-top: 15px;
	color: #FFFFFF;
	position: absolute;
	z-index: 1
}

.event .footer {
	pointer-events:none;
	width: inherit;
	position: absolute;
    bottom: 1%;
}

.event .image {
	z-index: 0;
	width: inherit;
	height: inherit;
	position: absolute;
	display: inline-block;
	filter: brightness(80%);
}

.event .darken {
	filter: brightness(60%);
}

.event .personIcon {
	width:25px;
	height:25px;
	filter: invert(100%);
}

.event .button-tags {
	pointer-events:auto;
	border-radius: 40px;
	color: #FFFFFF;
	margin: 5px;
	border: 2px solid #FFFFFF;
	background-color: Transparent;
	border-color: #FFFFFF;
	-webkit-font-smoothing: antialiased;
	border-width: 1px;
}

.event .button-tags:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.event .tags {
	width: inherit;
	text-align:center;
}

.event .info {
	width: inherit;
	margin-bottom: 5px;
}

.event .venue-size {
	float:right;
	margin-right: 10px;
}

.event .price {
	width: 20%;
	float:left;
	color: #FFFFFF;
}

