.event-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-carousel .event-container {
    overflow: hidden;
}

.event-carousel .wrapper {
	transform: translate3d(0, 0, 0);
	transition: transform .5s ease-in-out;
}

.event-carousel .block {
	width: 50px;
	height: 50px;
	float: left;
}

.event-carousel .tab {
	height: 1px;
	width: 22px;
    border:none;
    margin-right: 3px;
    margin-left: 3px;
    float: left;
    background-color: grey;

}

.event-carousel .line {
    border: 1px black solid;
    height: 0px;
    width: 100%;
}

.event-carousel .tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-carousel .line {
    float: left;
    height: 3px;
    width: 50px;

    background-color: #000000;
}

.event-carousel .lit {
	background-color: #000000;
}

.event-carousel .event {
    float: left;
}

.event-carousel #navLinks {
    text-align: center;
    width: 550px;
}

.event-carousel #navLinks ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}

.event-carousel #navLinks ul li {
    float: left;
    text-align: center;
    margin: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 5px;
    border-radius: 50%;
    border: black 5px solid;
}

.event-carousel #navLinks ul li:hover {
    background-color: #FFFF00;
}

.event-carousel #navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}

.event-carousel #navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}

.event-carousel #navLinks ul li.active {
    background-color: #333333;
    color: #FFFFFF;
    outline-width: 7px;
}

.event-carousel #navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}
